<div nz-row nzmargin="10">
  <div nz-col nzSpan="24">
      <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
              <nz-form-label nzFor="totalPctChg" nzRequired>
                <span>跌幅: <i nz-icon nz-tooltip nzTitle="跌幅大于输入值" type="question-circle" theme="outline"></i>
                </span>
              </nz-form-label>
              <nz-form-control >
                <input nz-input id="totalPctChg" formControlName="totalPctChg">
                <nz-form-explain *ngIf="validateForm.get('totalPctChg').dirty && validateForm.get('totalPctChg').errors">请输入跌幅!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="selectedConcept" nzRequired>概念: </nz-form-label>
                <nz-form-control >
                    <nz-select  style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a Concept" formControlName="selectedConcept">
                        <nz-option *ngFor="let data of conceptDataSet" nzLabel="{{data.name}}" nzValue="{{data.code}}"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="8" nzFor="profit" nzRequired>
                  <span>净利润: <i nz-icon nz-tooltip nzTitle="净利润大于输入值" type="question-circle" theme="outline"></i>
                  </span>
                </nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="12">
                  <input nz-input id="profit" formControlName="profit">
                  <nz-form-explain *ngIf="validateForm.get('profit').dirty && validateForm.get('profit').errors">请输入净利润!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="8" nzRequired>历史日期: </nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="12">
                  <nz-date-picker formControlName="tradeDateHist"></nz-date-picker>
                  <nz-form-explain *ngIf="validateForm.get('tradeDateHist').dirty && validateForm.get('tradeDateHist').errors">请输入历史日期!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control >
                  <label nz-checkbox formControlName="hasSheBaoFunder">社保基金</label>
                </nz-form-control>
              </nz-form-item>
              
            <nz-form-item nz-row style="margin-bottom:8px;">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                  <button nz-button nzType="primary" (click)="findStocksLower30Percent()" [disabled]="!validateForm.valid">查询</button>
                </nz-form-control>
            </nz-form-item>
    </form>
  </div>
  <div nz-col nzSpan="8" nzOffset="8">
  </div>
  <br>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table
      #ajaxTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="histDataSet"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="findStocksLower30Percent()"
      (nzPageSizeChange)="findStocksLower30Percent(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowExpand></th>
          <th nzShowSort nzSortKey="Code">Code</th>
          <th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">Name</th>
          <!--<th nzShowSort nzSortKey="tradeDate"><span>行业</span></th>
            <th nzShowSort nzSortKey="tradeDate"><span>市场</span></th>
          -->
          <th nzShowSort nzSortKey="tradeDate"><span>概念</span></th>
          
          <th nzShowSort nzSortKey="totalPctChg"><span>总跌幅</span></th>
          <th nzShowSort nzSortKey="tradeDate"><span>日期</span></th>
          <th nzShowSort nzSortKey="closePrice"><span>收盘价</span></th>
          <th nzShowSort nzSortKey="closePrice"><span>净利润增长</span></th>
          <!--<th nzShowSort nzSortKey="pctChg"><span>涨跌幅</span></th>
          <th nzShowSort nzSortKey="tradeDateHist"><span>日期H</span></th>
          <th nzShowSort nzSortKey="closePriceHist"><span>收盘价H</span></th>-->
          <th nzShowSort nzSortKey="totalPctChg"><span>股东</span></th>
        </tr>
      </thead>
      <tbody>
          <ng-template ngFor let-data [ngForOf]="ajaxTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
          <td>{{data.tsCode}}</td>
          <td>{{data.name}}</td>
          
          <td>{{data.concepts}}</td>
          
          <td>{{data.totalPctChg}}%</td>
          <td>{{data.tradeDate}}</td>
          <td>{{data.closePrice}}</td>
          <td>{{data.profit}}%</td>
          <!--<td>{{data.pctChg}}</td>
          <td>{{data.tradeDateHist}}</td>
          <td>{{data.closePriceHist}}</td>-->
          <td>{{data.holders}}</td>
        </tr>
        <tr [nzExpand]="data.expand">
            <td></td>
            <td></td>
            <td></td>
            <td>{{data.market}}</td>
            <td>{{data.industry}}</td>
            <td>{{data.tradeDateHist}}</td>
            <td>{{data.closePriceHist}}</td>
            <td></td>
            <td></td>
          </tr>
          </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
<!--<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table
      #ajaxTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataSet"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()"
      (nzPageSizeChange)="searchData(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowSort nzSortKey="name">Code</th>
          <th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">Name</th>
          <th nzShowSort nzSortKey="email"><span>Industry</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>{{data.tsCode}}</td>
          <td>{{data.name}}</td>
          <td>{{data.industry}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>-->
