<div class="flex-container">
    <List [className]="'date-picker-list'">
      <ListItem
        DatePicker
        [extra]="currentDateFormat(taskDate, 'yyyy-mm-dd')"
        [arrow]="'horizontal'"
        [mode]="'date'"
        [(ngModel)]="taskDate"
        (onOk)="onDateChange($event)"
      >
        日期
        <!--<Brief>{{ name2 }}</Brief>-->
      </ListItem>
      
    </List>

    <Accordion [defaultActiveKey]="'0'"
               [activeKey]="activeKey"
               (onChange)="onChange($event)"
    >
      <AccordionPanel style="background: rgb(106, 201, 238);" *ngFor="let user of users; let i = index;"
                      [key]="i"
                      [header]="user.name"
                      [disabled]="user.inactive"
                      
      >
        <List className="my-list">
          <ng-container *ngFor="let i of dailyTasks">
              
            <ListItem *ngIf="i.targetUser == user.id" >
              <CheckboxItem 
                [id]="i.id"
                [value]="i"
                [(ngModel)]="i.checked"
                (onChange)="onDailyTaskStatusChange($event)">
                  {{i.taskName}}
                </CheckboxItem>
            </ListItem>
          </ng-container>
        </List>
      </AccordionPanel>
      
    </Accordion>
  <br>
</div>